<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Filters Management</title>
</head>
<body>
<h1>Filters Management</h1>
<form action="#" th:action="@{/marketplace/admin}" th:object="${filter}" method="post">
    <h2>Add a filter</h2>
    <label>Type: <input type="text" th:field="*{type}" /></label><br/>
    <label>Description: <input type="text" th:field="*{value}" /></label><br/>
    <label>Mandatory: <input type="checkbox" th:field="*{mandatory}" /></label><br/>
    <p><input type="submit" value="Add"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>