<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MarketPlace</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Добре дошли в Education+</h1>
        </header>
            <h2>Изберете роля</h2>
            <a th:href="@{/user/create}" class="btn btn-outline-dark">User</a></td>
            <a th:href="@{/organization/create}" class="btn btn-outline-dark" id="button">Organization</a>
    </div>
</div>
</body>
</html>